<header>
	<div id="logo"><a href="__APP__"></a></div>
	<nav class="topnav" id="topnav">
		<a href="http://www.tigerbook.cn"><span>首页</span><span class="en">Protal</span></a>
		<a href="{:U('/notes')}"><span>随心笔记</span><span class="en">Notes</span></a>
		<a href="{:U('/web')}"><span>Web开发</span><span class="en">Web</span></a>
		<a href="__APP__/ask" target="_blank" ><span>虎书问答</span><span class="en">Ask</span></a>
		<a target="_blank" href="__APP__/wish"><span>许愿墙</span><span class="en">Wish</span></a>
	</nav>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?542eaa32612afea45eeee1140b931889";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</header>

		