<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>添加顶级栏目</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/public.css" />
</head>
<body>
	<form action="{:U('Cate/addCate')}" method="post">
		<table class="table">
			<tr><th style="text-align:left" colspan='2'><b>添加栏目</b></th></tr>
			<tr>
				<td align="right"><b>栏目名称：</b></td>
				<td><input type="text" name='name' /></td>
			</tr>
			<tr>
				<td align="right"><b>外部连接：</b></td>
				<td><input type="text" name='link' /></td>
			</tr>
			<tr>
				<td align="right"><b>排序：</b></td>
				<td><input type="text" name='sort' /></td>
			</tr>
			<tr>				
				<td align="center" colspan="2">
					<input type="hidden" name='pid' value="{$pid}" />
					<input type="submit" class="btn2" value="保存添加" />
				</td>
			</tr>
		</table>
	</form>
</body>
</html>