<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>用户管理</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/public.css" />
	<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$("input[name='user[]']").click(function(){
				var inputs = $(this).parents('.table').find('input');
				$(this).attr('checked') ? inputs.attr('checked', 'checked') : inputs.removeAttr('checked');
			});

			$("#delUser").click(function(){
				var ids = $("input[name='users[]']");
				alert(ids.val());
			});
		});
	</script>
</head>
<body>
	<table class="table">
		<tr width='40px' align="left">
			<td  colspan='8'>
				<a class="btn3" href="{:U('Rbac/addUser')}">添加用户</a>
				<a id="delUser" class="btn3" onclick="return confirm('确定删除？')" href="">删除</a>			
				<span style="float:right;color:red;">重置密码为：<b>123456</b></span>
			</td>
		</tr>
		<tr>
			<th><input type="checkbox" name='user[]'/></th>
			<th>编号</th>
			<th>账号</th>
			<th>上次登录时间</th>
			<th>上次登录IP</th>
			<th>状态</th>
			<th>用户所属角色</th>
			<th>操作</th>
		</tr>
		<foreach name='user' item='v'>
			<tr align='center'>
				<td width='3%'><input type="checkbox" name='users[]' value="{$v.id}" /></td>
				<td width='5%'>{$v.id}</td>
				<td>{$v.username}</td>
				<td><if condition="$v['logintime']">{$v.logintime|date='Y-m-d H:i', ###}<else/>暂未登录</if></td>
				<td>{$v.loginip}</td>
				<td><if condition="$v['lock'] eq 1">已锁定<else/>正常</if></td>
				<td>
					<if condition="$v.username eq C('RBAC_SUPERADMIN')">
						超级管理员
					<else/>
						<ul>
							<foreach name='v.role' item='k'>
								<li>{$k.remark}</li>
							</foreach>
						</ul>
					</if>						
				</td>
				<td width="20%">
					<if condition="$v.username eq C('RBAC_SUPERADMIN')">
						不可操作
					<else/>
						<if condition="$v['lock']">
							<a class="btn3" onclick="return confirm('确认解锁？')" href="{:U('Rbac/lockUser', array('id' => $v['id'], 'lock' => 0))}">解锁</a>
						<else/>
							<a class="btn3" onclick="return confirm('确认锁定？')" href="{:U('Rbac/lockUser', array('id' => $v['id'], 'lock' => 1))}">锁定</a>
						</if>
						<a class="btn3" onclick="return confirm('确定删除？')" href="{:U('Rbac/delUser', array('id' => $v['id']))}">删除</a>
						<a onclick="return confirm('确定重置？')" class="btn3" href="{:U('Rbac/reset', array('id' => $v['id']))}">重置密码</a>
					</if>
					
				</td>
			</tr>
		</foreach>
	</table>
</body>
</html>