<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>系统设置</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/public.css" />
</head>
<body>
	<form action="{:U('System/setSystem')}" method="post">
		<table class="table">
			<tr><td colspan="2"><input type="button" class="submit" value="系统设置" /></td></tr>
			<tr>
				<td align="right">网站标题：</td>
				<td><input type="text" name="title" value="{$system['title']}" /></td>
			</tr>
			<tr>
				<td align="right">网站关键词：</td>
				<td><input type="text" name="keyword" value="{$system.keyword}" /></td>
			</tr>
			<tr>
				<td align="right">网站描述：</td>
				<td><input type="text" name="discrption" value="{$system.discrption}" /></td>
			</tr>
			<tr>
				<td align="right">版权信息：</td>
				<td><textarea name="conpay" id="" cols="30" rows="3">{$system.conpay}</textarea></textarea></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="hidden" name="id" value="{$system.id}" />
					<input type="submit" class="btn2" value="保存修改" />
				</td>
			</tr>
		</table>
	</form>
	
</body>
</html>