<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>添加顶级分类-{$Think.config.title}</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/public.css" />
</head>
<body>
	<form action="{:U('Cate/addCate')}" method="post">
		<table class="table">
			<tr><th colspan="2" style="text-align:left" ><b>添加顶级分类</b></th> </tr>
			<tr>
				<td width="45%" align="right"><b>名称：</b></td>
				<td><input type="text" name="name"/></td>
			</tr>
			<tr>
				<td align="center" colspan='2'>
					<input type="hidden" name="pid" value="0" />
					<input type="submit" class="btn2" value="添 加" />
					<a href="{:U('Cate/index')}"><input type="button" class="btn2" value="返 回" /></a>
				</td>
			</tr>
		</table>
	</form>
	
</body>
</html>