<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>修改头像-{$Think.config.ask_title}</title>
	<meta name="keywords" content="提问，知道，php，生活"/>
	<meta name="description" content="虎书问答是基于搜索的互动式知识问答分享平台。用户可以根据自身的需求，有针对性地提出问题；同时，这些答案又将作为搜索结果，满足有相同或类似问题的用户需求。"/>
	<link rel="stylesheet" href="__PUBLIC__/Css/common.css" />
	<script type="text/javascript" src='__PUBLIC__/Js/jquery-1.7.2.min.js'></script>
	<script type="text/javascript" src='__PUBLIC__/Js/top-bar.js'></script>
	<link rel="stylesheet" href="__PUBLIC__/Css/member.css" />
	<link rel="stylesheet" href="__PUBLIC__/Css/face.css">
	<script type="text/javascript">
		$(function(){
			$("form[name='uploadFace']").submit(function(){
				var face = $("input[name='face']");
				if (face.val() == '') {
					alert('未上传图片');
					return false;
				};
			});
		});
	</script>

</head>
<body>
	<!-- top -->
	<include file="Common:top" />

	<!--中部-->
	<div id='center'>
		<!-- 左侧 -->
		<include file="Common:m_left" />

		<div id='right'>
			<p class='title'>修改头像</p>
			<ul class='ask-filter'>
			</ul>
			<div class='imgface_box'>
				<img src="<if condition='$user_face'> __ROOT__/Uploads/Face/m_{$user_face}<else /> __PUBLIC__/Images/profile_avatar.jpg</if>" id="preview">
				<form name='uploadFace' action="{:U('Member/upFace')}" method="POST" enctype="multipart/form-data">
					<input type="file" name="face" id="face" >
					<input id="sub" type="submit" value="确定修改">
				</form>
				<p>支持JPG、PNG、GIF图片类型，不能大于2M。推荐尺寸：180PX*180PX</p>
			</div>
		</div>
	</div>
<include file="Common:footer" />
