<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>用户管理-虎书问答</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/public.css" />
</head>
<body>
	<table class="table">
		<tr>
			<th style="text-align:left;" colspan="13">用户管理</th>
		</tr>
		<tr align='center'>
			<td><input type="checkbox" /></td>
			<td><b>ID</b></td>
			<td><b>用户名</b></td>
			<td><b>头像</b></td>
			<td><b>回答数</b></td>
			<td><b>提问数</b></td>
			<td><b>等级</b></td>
			<td><b>金币</b></td>
			<td><b>采纳率</b></td>
			<td><b>上次登录时间</b></td>
			<td><b>上次登录IP</b></td>
			<td><b>状态</b></td>
			<td><b>操作</b></td>
		</tr>
		<foreach name='user' item='v'>
			<tr align='center'>
				<td><input type="checkbox" /></td>
				<td>{$v.id}</td>
				<td>{$v.username}</td>
				<td><img src="<if condition='$v["face"]'>__ROOT__/Uploads/Face/s_{$v.face}<else />__PUBLIC__/Images/noface.gif</if>" width='48' height='48' alt="{$v.username}" /> </td>
				<td>{$v.answer}</td>
				<td>{$v.ask}</td>
				<td>{:exp_to_level($v['exp'])}</td>
				<td>{$v.point}</td>
				<td>{:floor($v['adopt'] / $v['answer'] * 100)}%</td>
				<td>{$v.logintime|date='y-m-d H:i',###}</td>
				<td>{$v.loginip}</td>
				<td><if condition='$v["lock"]'><font color='red'>锁定</font><else /><font color='green'>正常</font></if></td>
				<td>
					<if condition='$v["lock"]'>
						<a class="btn3" onclick="return confirm('确认解锁？')" href="{:U('User/lock', array('id' => $v['id'], 'lock' => '0'))}">解锁</a>
					<else />
						<a class="btn3" onclick="return confirm('确认锁定？')" href="{:U('User/lock', array('id' => $v['id'], 'lock' => '1'))}">锁定</a>
					</if>
				</td>			
			</tr>
		</foreach>
		<tr><td class="page" colspan="13" align='center'>{$page}</td></tr>
	</table>
</body>
</html>