<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>系统设置</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/public.css" />
</head>
<body>
	<form action="{:U('System/editPwd')}" method="post">
		<table class="table">
			<tr><th colspan="2" style="text-align:left">修改密码</th> </tr>
			<tr>
				<td align="right" width="40%"><b>当前登录账号：</b></td>
				<td><b>{$Think.session.username}</b></td>
			</tr>
			<tr>
				<td align="right"><b>原始密码：</b></td>
				<td><input type="password" name="oldPwd" /></td>
			</tr>
			<tr>
				<td align="right"><b>新密码：</b></td>
				<td><input type="password" name="newPwd" /></td>
			</tr>
			<tr>
				<td align="right"><b>确认密码：</b></td>
				<td><input type="password" name="newPwded" /></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" value="保存修改" class="btn2" /></td>
			</tr>
		</table>
	</form>
</body>
</html>